*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(../img/background.jpg);
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 85%;
    margin: auth;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 120px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;

}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
    vertical-align: middle;
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
input:focus{
    outline: none;
}
input:invalid{
    color: yellowgreen;
}
textarea:focus{
    outline: none;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}
textarea{
    padding-left: 10px;
}
.address {
    font-size: 16px;
    border-style: solid;
    border-width: 2px;
    border-color: #009688;
    background-color: transparent;
    color: #fff;
    resize: none;
    border-radius: 40px 40px 40px 40px;
    width: 30%;
    max-width: 50%;
    height: 20px;
    background-color: transparent;
    align-content: center;
    padding-left: 10px;
}
.compress {
    font-size: 16px;
    border-style: solid;
    border-width: 2px;
    border-color: #009688;
    background-color: transparent;
    color: #fff;
    resize: none;
    border-radius: 40px 40px 40px 40px;
    width: 2.5%;
    max-width: 3%;
    height: 20px;
    background-color: transparent;
    align-content: center;
    padding-left: 10px;
    padding-right: 10px;
}
.result {
    font-size: 16px;
    border-style: solid;
    border-width: 2px;
    border-color: #009688;
    background-color: transparent;
    color: #fff;
    resize: none;
    border-radius: 8px 8px 8px 8px;
    width: 28%;
    height: 250px;
    max-width: 100%;
}
b{
    margin-left: 25%;
    color: #009688;
}
.modal {
    position: absolute;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    text-align: center;
    width: fit-content;
    height: fit-content;
    max-width: 22em;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    background: #009688;
    z-index: 999;
    transform: none;
}
.modal h1 {
    margin: 0 0 1rem;
}
.modal h2 {
    text-align: left;
}
.modal .button{
    border: 2px solid #FFF;
}

.modal-overlay {
    content: '';
    position: absolute;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 998;
    background: #2c3e50;
    opacity: 0.0;
    cursor: pointer;
}
.fade-enter-active,
.fade-leave-active {
    transition: opacity .4s linear;
}
.fade-enter,
.fade-leave-to {
    opacity: 0;
}
.pop-enter-active,
.pop-leave-active {
    transition: transform 0.4s cubic-bezier(0.5, 0, 0.5, 1), opacity 0.4s linear;
}
.pop-enter,
.pop-leave-to {
    opacity: 0;
    transform: scale(0.3) translateY(-50%);
}
.filebox label {
    display: inline-block;
    padding: .5em .75em;
    color: #fff;
    font-size: inherit;
    line-height: normal;
    vertical-align: middle;
    background-color: #5cb85c;
    cursor: pointer;
    border: 1px solid #4cae4c;
    border-radius: .25em;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

.filebox label:hover {
    background-color: #6ed36e;
}

.filebox label:active {
    background-color: #367c36;
}

.filebox input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.set {
    display: inline-block;
}